apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: services
  namespace: metrics
spec:
  discoveryRole: "endpoints"
  jobLabel: "app.kubernetes.io/name"
  endpoints:
    - honorLabels: true
      relabelConfigs:
        - action: keep
          regex: "true"
          sourceLabels:
            - __meta_kubernetes_service_annotation_prometheus_io_scrape
        - action: replace
          regex: (https?)
          sourceLabels:
            - __meta_kubernetes_service_annotation_prometheus_io_scheme
          targetLabel: __scheme__
        - action: replace
          regex: (.+)
          sourceLabels:
            - __meta_kubernetes_service_annotation_prometheus_io_path
          targetLabel: __metrics_path__
        # - action: keep_if_equal
        #   source_labels:
        #     - __meta_kubernetes_service_annotation_prometheus_io_port
        #     - __meta_kubernetes_pod_container_port_number
        - action: replace
          regex: ([^:]+)(?::\d+)?;(\d+)
          replacement: $1:$2
          sourceLabels:
            - __address__
            - __meta_kubernetes_service_annotation_prometheus_io_port
          targetLabel: __address__
        - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_tenant]
          target_label: __tenant_id__
        - source_labels: [__meta_kubernetes_pod_node_name]
          action: replace
          target_label: kubernetes_node
        - action: labelmap
          regex: __meta_kubernetes_service_label_(.+)
  namespaceSelector:
    any: true
  selector: {}
